p, li, dd {
  font-family: "Overlock", "Source Serif", "Noto Serif", "Source Han Serif JP", "Noto Serif JP", serif;
  font-weight: normal;
}

body {
  font-family: "UniversalWalk", "Raleway v4020", "Sen", "Input Sans", "Fira Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}

code {
  font-family: 'Hermit', 'Courier Prime Code', 'Fira Code', monospace;
  color: #c36;
  font-weight: normal;
}

/* Layouting elements */

body > * {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}

body > code > pre, div.sourceCode {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

body > img {
  max-width: 760px;
}

img {
  max-width: 100%;
}

/* Standard attrs */



/***** Designs *****/

body {
  color: #333;
  background-color: #fafafa;
}

body > header#title-block-header {
  max-width: 100%;
  margin: 0px;
  background-color: #30303f;
  color: #e8e8e8;
  text-align: center;
  padding: 1.5rem;
}

body > header#title-block-header h1 {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  border: none 0px;
}

body > header#title-block-header p.subtitle {
  border-bottom: #ece8e8 1px solid;
}

nav#TOC:before {
  content: 'Table of Contents';
}

nav#TOC {
  border: 1px solid #ccc;
  padding: 1.65em;
  font-size: smaller;
  margin: 1.5em auto 1em;
  max-width: 700px;
}

h1 {
  text-align: center;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin-top: 1.82em;
  margin-bottom: 1em;
}


h2 {
  border-bottom: 1px solid #333;
}

h3 {
  border-left: 0.8em solid #333;
  border-bottom: 1px solid #333;
}

tr.odd {
  background-color: #e4eaee;
}

table {
  border-top: #666 solid 1px;
  border-bottom: #666 solid 1px;
}

thead th {
  border-bottom: #666 solid 1px;
}

a:hover {
  color: #511ae7;
}

a:visited {
  color: #d2538f
}

a {
  color: #1d68d3;
}

em {
  color: #c33;
}

strong {
  color: #000;
  background-color: #ed4141;
}

code {
  color: #e1553c;
}

pre > code {
  display: block;
  border: solid 2px #e1553c;
  padding: 10px;
}

blockquote {
  border-left: #a3a3cf 0.8em solid;   
  padding-left: 1em;
  font-style: italic;
}

/***** Source Code *****/
pre code.sourceCode .al {color: #282828;font-weight: bold;} /*Alert*/
pre code.sourceCode .an {color: #17448c;} /*Annotation*/
pre code.sourceCode .at {color: #086a48;} /*Attribute*/
pre code.sourceCode .dt {color: #ba740b;} /*BaseN*/
pre code.sourceCode .du {color: #9b129b;} /*Builtin*/
pre code.sourceCode .cf {color: #15438e;} /*ControlFlow*/
pre code.sourceCode .ch {color: #82122f;} /*Char*/
pre code.sourceCode .cn {color: #b01bb0;} /*Constant*/
pre code.sourceCode .co {color: #293da1;} /*Comment*/
pre code.sourceCode .cv {color: #ba740b;} /*CommentVar*/
pre code.sourceCode .do {color: #218B97;} /*Documentation*/
pre code.sourceCode .dt {color: #2dad86;} /*DataType*/
pre code.sourceCode .dv {color: #af16af;} /*DecVal*/
pre code.sourceCode .er {color: #282828; text-decoration: underline;} /*Error*/
pre code.sourceCode .ex {color: #2dad86;} /*Extension*/
pre code.sourceCode .fl {color: #af16af;} /*Float*/
pre code.sourceCode .fu {color: #b51d3e;} /*Function*/
pre code.sourceCode .im {color: #2dad86;} /*Import*/
pre code.sourceCode .in {color: #01a8ad;} /*Infomation*/
pre code.sourceCode .kw {color: #82122f;} /*Keyword*/
pre code.sourceCode .op {color: #17448c;} /*Operator*/
pre code.sourceCode .ot {color: #5d5e61;} /*Other*/
pre code.sourceCode .pp {color: #A85E3D;} /*PreProcessor*/
pre code.sourceCode .sc {color: #1076ad; background-color: #4E163E} /*SpecialChar*/
pre code.sourceCode .ss {color: #82122f;} /*SpecialString*/
pre code.sourceCode .st {color: #295698;} /*String*/
pre code.sourceCode .va {color: #15438e;} /*Variable*/
pre code.sourceCode .vs {color: #218B97; font-style: italic;} /*VerbatimString*/
pre code.sourceCode .wa {color: #5d5e61;} /*Warning*/
/**********************/